.description{
    color: #a19f9f !important;
}
.backBtn{
    border-radius: 0.9rem;
    border:1px solid  #a19f9f;
    padding: 10px 30px;
}
.backBtn:hover{
    background-color: #a19f9f ;
    color: #fff;
}
